<h1>Editing part</h1>

<% form_for(@part) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @part %> |
<%= link_to 'Back', parts_path %>